/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,700&family=Nunito+Sans:wght@600;900&display=swap");

:root {
  --primary-color: #f9c901;
  --secondary-color: #111;
  --white-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* ===== Top ===== */
.top {
  padding: 4rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.logo {
  width: 100%;
  max-width: 600px;
}

.heading {
  font-family: "Arvo", serif;
  font-size: 200px;
  display: flex;
  flex-direction: column;
}

.btn-wrapper button {
  background: transparent;
  border: none;
  font-size: 2rem;
  padding: 10px 20px;
  margin: 1rem 9rem;
  transition: all 0.3s;
  outline: none;
}
.button-primary {
  width: 242px;
  height: 59px;
  color: var(--white-color);
  background: var(--secondary-color);
  border-radius: 20px;
  margin: 2rem;
  font-size: 1.5rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#quote {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2rem;
}

/* ===== Sounds ====== */
.sounds .heading {
  padding-top: 100px;
  font-size: 5rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
}

.sounds .row {
  margin: 4rem 0rem;
}

.sounds img {
  width: 100px;
  height: 100px;
  padding: 20px;
  background: #000000;
  border-radius: 31px;
  margin: 0px 10px;
}

.button-secondary,
.sound-button {
  border: none;
  background: transparent;
}

.active.active {
  background: red;
}

/* ===== Footer ====== */
footer {
  text-align: center;
  padding: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2rem;
  margin-top: 5rem;
}

footer a {
  color: var(--secondary-color);
  text-decoration-color: var(--secondary-color);
  transition: ease-in 0.3s;
}

footer a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
}

a:visited {
  color: var(--secondary-color);
}
